@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
    background: -webkit-linear-gradient(left top,LightGrey, white); /* For Safari */
    background: -o-linear-gradient(bottom right, LightGrey, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, LightGrey, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, LightGrey, white); /* Standard syntax */
}

h2 {
    text-align: justify;
}

td {
    background: white;
}

#go1 {
    margin-left: 10px;
}

#keep {
    margin: 0 auto;
}
#grad1 {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 140px;
    background: -webkit-linear-gradient(left,white, #0026FF); /* For Safari */
    background: -o-linear-gradient(right, white, #0026FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, #0026FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white, #0026FF); /* Standard syntax */
}

#grad2 {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0;
    width: 140px;
    height: 700px;
    background: -webkit-linear-gradient(white, #0026FF); /* For Safari */
    background: -o-linear-gradient(white, #0026FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #0026FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #0026FF); /* Standard syntax */
}

#plane {
    margin-left: 340px;
    margin-right: 250px;
    margin-top: 200px;
}

#buttonplane {
    
      margin-left: 500px;
    margin-right: 300px;
    margin-top: 225px;
}

#scorerplane {
    margin-left: 320px;
    margin-right: 250px;
    margin-top: 225px;
}

#scoreplane {
    margin-left: 360px;
    margin-right: 250px;
    margin-top: 240px;
}

#memberadd {
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 5px;
}

#tooltip {
    height: 280px;
    width: 300px;
    margin-right: 210px;
    float: right;
 }

#heading {
    margin-left: 250px;
    margin-right: auto;
    margin-bottom: 20px;
}

#scoreheading {
    margin-left: 250px;
    margin-bottom: 20px;
    width: 300px;
}

#submit {
    margin-left: 690px;
}

#socsubmit {
    margin-left: 680px;
}

#fixsubmit {
    margin-left: 645px;
}

#scoresubmit {
    margin-left: 660px;
}



#fixtures {
    height: 250px;
    width: 540px;
    border-radius: 10%;
    margin-left: 127px;
    margin-top: 127px;
    margin-right: 5px;
    float: left;
    border: 2px solid;
}

#graph {
    height: 300px;
    width: 630px;
    border-radius: 10%;
    margin-top: 127px;
    float: right;
    border: 2px solid;
}

#results {
    height: 250px;
    width: 500px;
    border-radius: 10%;
    margin-left: 127px;
    margin-top: 20px;
    margin-right: 10px;
    float: left;
    border: 2px solid;
}

#latest {
    height: 200px;
    width: 600px;
    border-radius: 10%;
    margin-top: 20px;
    float: right;
    border: 2px solid;
}


#reddot {
    height: 10px;
    width: 10px;
    background-color: red;
    
}

.newclass {
    height:  40px;
    width:  40px;
    background-color: red;
}